{% if errors is not empty %}
    <!-- Form Error List -->
    <div class="alert alert-danger">
        <strong>Whoops! Something went wrong!</strong>

        <br><br>

        <ul>
            {% for error in errors.all %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}