<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Laravel Quickstart - Basic</title>

        <!-- CSS And JavaScript -->
        <link rel="stylesheet" href="css/app.css">
    </head>

    <body>
        {% block content %}{% endblock content %}
    </body>
</html>